<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <header><%- include('../partials/nav'); %></header>
  <body>
    <body>
      <div>
        <div class="text-center">
          <!-- Product Name -->
          <p class="py-2 fs-3">Product Name</p>
          <div class="logo">
            <!-- Product Photo -->
            <img src="..." class="img-fluid" alt="product photo" />
          </div>

          <!-- To add info collected from the database here-->
          <p>Description</p>
          <table class="mx-auto">
            <tr>
              <td>
                <a
                  href="/edit"
                  class="btn btn-primary btn-xl rounded-pill mt-5"
                >
                  Edit
                </a>
              </td>
              <td>
                <a
                  href="/delete"
                  class="btn btn-danger btn-xl rounded-pill mt-5"
                >
                  Delete
                </a>
              </td>
              <td>
                <a href="/" class="btn btn-primary btn-xl rounded-pill mt-5">
                  Back
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </body>
  </body>
</html>
