<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <header><%- include('../partials/nav'); %></header>
  <body>
    <body>
      <div class="wrap">
        <div class="form-wrap text-center">
          <p class="py-2 fs-3">Post a Product</p>
          <div class="logo">
            <!-- It should be the product picture -->
            <img src="/images/logo.png" alt="logo" href="#" />
          </div>
          <p class="fs-5 p-4 text-warning"><%- caution -%> </p>
          <form id="post" action="/ads/create" method="post" class="input-group">
            <input
              type="title"
              id="title"
              name="title"
              class="input-field"
              placeholder="Product Title"
              required
            />
            <input
              type="body"
              id="body"
              name="body"
              class="input-field"
              placeholder="Content"
              required
            />
            <input
              type="date"
              id="begin"
              name="begin"
              class="input-field"
              placeholder="Begin Date"
              required
            />
            <input
              type="date"
              id="end"
              name="end"
              class="input-field"
              placeholder="End Date"
              required
            />
            <button
            type="submit"
            class="submit"
            >
            Post
          </button>
          </form>
        </div>
      </div>
    </body>
  </body>
</html>
