<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <header><%- include('../partials/nav'); %></header>
  <body>
    <body>
      <div class="wrap">
        <div class="form-wrap text-center">
          <p class="py-2 fs-3">Register</p>
          <div class="logo">
            <img src="/images/logo.png" alt="logo" href="#" />
          </div>
          <p class="fs-5 p-4 text-warning"><%- caution -%> </p>
          <form
            id="login"
            action="user/register"
            method="post"
            class="input-group"
          >
            <input
              type="username"
              id="username"
              name="username"
              class="input-field"
              placeholder="Username"
              required
            />
            <input
              type="email"
              id="email"
              name="email"
              class="input-field"
              placeholder="Email"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="input-field"
              placeholder="Password"
              required
            />
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              class="input-field"
              placeholder="Re-Enter Password"
              required
            />
            <button formaction="/user/register" type="submit" class="submit">
              Register
            </button>
          </form>
          <form id="register" action="" class="input-group">
            <input
              type="text"
              class="input-field"
              placeholder="Username"
              required
            />
            <input
              type="email"
              class="input-field"
              placeholder="Your Email"
              required
            />
            <input
              type="password"
              class="input-field"
              placeholder="Enter Password"
              required
            />
            <input type="checkbox" class="checkbox" /><span
              >Terms and conditions</span
            >
            <button class="submit">REGISTER</button>
          </form>
        </div>
      </div>
    </body>
  </body>
</html>
