
<div class="wrap">
    <div class="form-wrap">
        <div class="button-wrap">
            <div id="btn"></div>
            <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
            <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
        </div>
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="logo" href="#">
        </div>
        <form id="login" action="" class="input-group">
            <input type="text" class="input-field" placeholder="User name or Email" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="checkbox"><span>Remember Password</span>
            <button class="submit">Login</button>
        </form>
        <form id="register" action="" class="input-group">
            <input type="text" class="input-field" placeholder="User name or Email" required>
            <input type="email" class="input-field" placeholder="Your Email" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="checkbox"><span>Terms and conditions</span>
            <button class="submit">REGISTER</button>
        </form>
    </div>
</div>