<app-alert *ngIf="showAlert" [color]="alertColor">{{ alertMsg }}</app-alert>
<div class="wrap">
  <div class="form-wrap">
    <div class="form-signin">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <img
          class="mb-4"
          src="../../../assets/logo.png"
          alt=""
          width="200"
          height="200"
        />
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            [(ngModel)]="credentials.email"
            placeholder="name@example.com"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="credentials.password"
            placeholder="Password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button
          type="submit"
          class="submit my-4"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
