<!-- Project Name: Used Goods Store
Date: Nov 19 2022
Project Member (SID):
Long Tang (301225866)
Alabed, Nabeel
Chung, Wonyoung
Park, Inhee
Vu, Thi Thanh Thu
Yeom, Hanna -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Used Goods Stores</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/ads">Current Ads</a>
        </li>
        <% if (user === undefined) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/ads/manage">Manage Your Ads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
